/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #fff;
}

a{
    text-decoration: none;
    display: inline;
}

nav a{
    font-size: 12px;
    margin-inline-end: 10px;
    color: #000;
    opacity: 0.4;
    font-weight: 600;
}

a.active{
    color: #000;
    opacity: 1;
}


.logo{
    font-weight: bolder;
    margin-inline-end: 20px;
}

.first{
    display: flex;
}

.second{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
}

.sign-up{
    margin-inline-start: 20px;
    background-color: #50eade;
    color: rgb(220, 250, 243);
    border-radius: 3rem;
    padding: 5px 10px;
    cursor: pointer;
}

section.first-part{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 90vh;
}

.front{
    font-size: 50px;
    padding-block: 5px;
    font-weight: bolder;
}

.title{
    font-size: 12px;
    color: #000;
    opacity: 0.6;
    font-weight: bold;
    line-height: 20px;
    margin-block-end: 30px;
}

.started{
    color: rgb(220, 250, 243);
    background-color: #50eade;
    border-radius: 3rem;
    padding: 6px 10px;
    font-size: 15px;
}

.image{
    width: 800px;
    height: 300px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input{
    width: 65vw;
    padding: 10px 15px;
    outline: none;
}

.inputs{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 9, 56);
    padding-block: 30px;
    border-radius: 5px;
}

.enter{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -14%;
    z-index: 1;
}

.shorten{
    padding: 8px 8px;
    margin-inline-start: 10px;
    outline: none;
    font-weight: bold;
    background-color: #50eade;
    border: none;
    color: rgb(237, 251, 252);
    border-radius: 3px;
    cursor: pointer;
}

.second-part{
    background-color: rgb(235, 233, 233);
}

.middle{
    width: 100vw;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.statistic{
    text-align: center;
    margin-top: 40px;
}

.heading{
    text-transform: capitalize;
    padding: 8px 5px;
}

.words{
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #000;
    opacity: 0.6;
}

.box{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.boxes{
    width: 90vw;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.lines{
    position: absolute;
    width: 60vw;
    height: 6px;
    background-color: rgb(78, 138, 113);
    bottom: 50%;
    z-index: 3;
}

.box-one{
    background-color: #fff;
    padding: 35px 40px 20px 40px;
    margin-inline-end: 60px;
}

.box-one p{
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #000;
    opacity: 0.7;
    line-height: 25px;
}

.box-one h3{
    font-weight: bolder;
    padding-block: 20px;
}

.two{
    margin-top: 50px;
}

.three{
    margin-top: 90px;
}